@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using WebApplication.Services;
@using WebApplication.Models;
@model List<MovieInfo>
@{
    ViewBag.Title = "RemoveMovie";
}
@section head
{
    <script type="text/javascript">
        function fn_ValidateForm() {
            if ($("input[id='selectedMovies']:checked").length < 1) {
                alert("Select atleast one movie to remove.");
                return false;
            }
            return true;
        }

    </script>
}

<form action="@Url.Action("RemoveMovie", "Admin")" method="post" onsubmit="return fn_ValidateForm();">
    <div style="padding: 0px; margin: 0px; border: 1px solid #3333CC">
        <div>
            <div style="border-style: none none solid none; border-width: 1px; border-color: #333333; height: 30px; background-color: #6600CC;">
                <a style="font-size: 15pt; color: White; display: block; vertical-align: middle; line-height: 30px; text-align: justify; margin-left: 7px;">REMOVE MOVIE HERE --</a>

            </div>
        </div>

        <div align="center">
            <p style="color: red;">
                @if (TempData["Msg"] != null)
                {
                    @TempData["Msg"] 
                }
            </p>
            <table cellspacing="0" cellpadding="3" rules="all" border="1" style="width: 100%; background-color: White; border-color: #CCCCCC; border-width: 1px; border-style: None; border-collapse: collapse;">

                <tr style="color: White; background-color: #006699; font-weight: bold;">
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Select</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr style="color: #000066;">
                        <td>@item.Movie_Title</td>
                        <td>@item.MovieStatus_Value</td>
                        <td>@item.Movie_ReleaseDate</td>
                        <td>
                            <input id="selectedMovies" type="checkbox" value="@item.Movie_Id" name="selectedMovies" />
                        </td>

                    </tr>
                }

            </table>
            <br />
            <input type="submit" id="btnRemove" value="Remove" />
            <br />
            <br />
        </div>


    </div>
</form>
